<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Main Page</title>
  <link rel="stylesheet" href="/assets/css/global.css" />
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
</head>
<body>
<div id="header">
  <img id="header-logo" src="/assets/images/ug_icon_small.png" alt="uGroop" />
</div>
<div id="wrapper">
%_CONTENT%
</div>
<div id="footer"></div>
</body>
</html>